@import "tailwindcss";
/* Hide all scrollbars while keeping scrolling functional */

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
    display: none;
  }
  
  /* Firefox */
  * {
    scrollbar-width: none;
  }
  
  /* IE and old Edge */
  * {
    -ms-overflow-style: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }